<div class="background">
  <div class="container">
    <div class="row">




      <div class="col-12 rounded">
        <h3>Stupid coaching</h3>

        <div class="bg-light px-3 py-2">
          <h6><%= @ask %></h6>
          <p><em>- You</em></p>
        </div>

        <div class="bg-warning px-3 py-2">
          <h6><%= @answer %></h6>
          <p><em>- Stupid coach</em></p>
        </div>

      </div>
    </div>
  </div>
</div>
