<div class="container">

  <div class="row">

  <div class="col-12 bg-light d-flex flex-column">

    <div class="col-12">
      <h1 class="pb-3 text-center">Questionnaire</h1>
    </div>

    <div class="col-12  d-flex flex-row justify-content-center">
      <form action="/answer" data-turbo="false" class="pb-3">
        <input type="text" name="ask" placeholder="Whats is your question ?" class="col-9">
        <input type="submit" value="Ask!" class="col-2">
      </form>
    </div>




  </div>



  </div>


</div>
